.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.categoryButton {
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    width: 175px;
    height: 75px;
    margin: 5px;
    color: white;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease, border 0.2s ease;

    /* Ajouter ces propriétés pour centrer verticalement le texte */
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryButton.checked {
    border: 3px solid black;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.product {
    flex: 1 0 calc(25% - 20px);
    margin-bottom: 20px;
    background: #f6f6f6;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
    font-size: 12px;
}

.product img {
    width: 200px;
    height: auto;
}

.productInfo {
    margin-top: 10px;
}

.productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
}

.productDetails .quantitie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.productDetails .quantitie .productCardDecrementBtn, .productDetails .quantitie .productCardIncrementBtn {
    background-color: #f8f9fa;
    border: 1px solid orangered;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.productDetails .quantitie .productCardDecrementBtn:hover,
.productDetails .quantitie .productCardIncrementBtn:hover {
    background-color: orangered;
    color: white;
}

.productDetails .quantitie .productCardQuantity {
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.addToCartButton {
    background-color: #ff7f27;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.addToCartButton:hover {
    background-color: white;
    color: #ff7f27;
    border: 1px solid #ff7f27;
}

.product:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
    .product {
        flex: 1 0 calc(50% - 20px);
    }
}

@media (max-width: 800px) {
    .product {
        flex: 1 0 100%;
    }

    .productContainer {
        margin-top: 150px;
    }
}

.product-enter {
    opacity: 0;
    transform: scale(0);
}

.product-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: max-height 700ms all 300ms, transform 300ms;
}

.product-exit {
    opacity: 1;
    transform: scale(1);
}

.product-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: max-height 700ms opacity 300ms, transform 300ms;
    max-height: 0;
    overflow: hidden;
}